@page "/CreateMatch"
@page "/EditMatch/{id}"
@rendermode InteractiveServer
@inject IMatchesService MatchesService
@inject IUsersService UsersService
@inject NavigationManager NavigationManager
@using MatchBy.Services.Matches
@using MatchBy.Services.Users
@inject IJSRuntime Js
@using Blazorise

@if (Match is null || _tz is null)
{
    <p>Loading...</p>
}
else
{
    <Div Margin="Margin.IsAuto.OnX" Padding="Padding.Is5.OnX" Width="Width.Is50" class="mt-4">
        <Heading Size="HeadingSize.Is2" Margin="Margin.Is3.FromBottom">
            @(Id is null ? "Create Match" : "Edit Match")
        </Heading>
        @*@(Id is null ? ValidationMode.Manual : ValidationMode.Auto)*@
        <Validations @ref="@_fluentValidations" Mode="ValidationMode.Manual" Model="@Match"
                     HandlerType="typeof(FluentValidationHandler)">
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsQuarter.OnDesktop">
                        <FieldLabel>
                            Latitude
                        </FieldLabel>
                        <FieldBody>
                            <NumericEdit TValue="double" Placeholder="Match Latitude"
                                         @bind-Value:get="Match.Location.Latitude"
                                         @bind-Value:set="v => Match.Location = Match.Location with { Latitude = v }">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsQuarter.OnDesktop">
                        <FieldLabel>
                            Longitude
                        </FieldLabel>
                        <FieldBody>
                            <NumericEdit TValue="double" Placeholder="Match Longitude"
                                         @bind-Value:get="Match.Location.Longitude"
                                         @bind-Value:set="v => Match.Location = Match.Location with { Longitude = v }">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsQuarter.OnDesktop">
                        <FieldLabel>
                            City
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Match City" @bind-Text:get="@Match.Location.City"
                                      @bind-Text:set="v => Match.Location = Match.Location with { City = v }">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsQuarter.OnDesktop">
                        <FieldLabel>
                            Country
                        </FieldLabel>
                        <FieldBody>
                            <TextEdit Placeholder="Match Country" @bind-Text:get="@Match.Location.Country"
                                      @bind-Text:set="v => Match.Location = Match.Location with { Country = v }">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </TextEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </Fields>
            <Validation>
                <Field>
                    <FieldLabel>
                        Description
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit Placeholder="Type product name" @bind-Text="@Match.Description">
                            <Feedback>
                                <ValidationError/>
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Min Players
                        </FieldLabel>
                        <FieldBody>
                            <NumericEdit TValue="int" Placeholder="Min Players Number" @bind-Value="@Match.minPlayers">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericEdit>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Max Players
                        </FieldLabel>
                        <FieldBody>
                            <NumericEdit TValue="int" Placeholder="Max Players Number" @bind-Value="@Match.maxPlayers">
                                <Feedback>
                                    <ValidationError/>
                                </Feedback>
                            </NumericEdit>
                        </FieldBody>
                    </Field>
                </Validation>
            </Fields>
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsThird.OnDesktop">
                        <FieldLabel>
                            Sport
                        </FieldLabel>
                        <FieldBody>
                            <FieldBody>
                                <Select TValue="Sports" @bind-SelectedValue="@Match.Sport">
                                    @foreach (var item in Enum.GetValues<Sports>())
                                    {
                                        <SelectItem Value="@item">@item.ToString()</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsThird.OnDesktop">
                        <FieldLabel>
                            Status
                        </FieldLabel>
                        <FieldBody>
                            <FieldBody>
                                <Select TValue="MatchStatus" @bind-SelectedValue="@Match.Status">
                                    @foreach (var item in Enum.GetValues<MatchStatus>())
                                    {
                                        <SelectItem Value="@item">@item.ToString()</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsThird.OnDesktop">
                        <FieldLabel>
                            Privacy
                        </FieldLabel>
                        <FieldBody>
                            <FieldBody>
                                <Select TValue="MatchPrivacy" @bind-SelectedValue="@Match.Privacy">
                                    @foreach (var item in Enum.GetValues<MatchPrivacy>())
                                    {
                                        <SelectItem Value="@item">@item.ToString()</SelectItem>
                                    }
                                </Select>
                            </FieldBody>
                        </FieldBody>
                    </Field>
                </Validation>
            </Fields>
            <Fields>
                <Validation>
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>
                            Creator UserName
                        </FieldLabel>
                        <FieldBody>
                            <Select TValue="string" @bind-SelectedValue="Match.CreatorId">
                                @foreach (var item in Users)
                                {
                                    <SelectItem Value="@item.Id">@item.UserName</SelectItem>
                                }
                            </Select>
                        </FieldBody>
                    </Field>
                </Validation>
                <Validation Validator="ValidateDateTimePicker">
                    <Field ColumnSize="ColumnSize.IsFull.OnTablet.IsHalf.OnDesktop">
                        <FieldLabel>MatchDateTime</FieldLabel>
                        <DatePicker TValue="DateTime"
                                    InputMode="DateInputMode.DateTime"
                                    DefaultHour="9"
                                    DefaultMinute="15"
                                    TimeAs24hr="true"
                                    Placeholder="DD/MM/YYYY - HH:mm"
                                    @bind-Date="@LocalMatchDate">
                            <Feedback>
                                <ValidationError>MatchDateTime cannot be in the past.</ValidationError>
                                <ValidationSuccess></ValidationSuccess>
                            </Feedback>
                        </DatePicker>
                        @*<FieldHelp>Format: DD/MM/YYYY - HH:mm</FieldHelp>*@
                    </Field>
                </Validation>

            </Fields>
            <Field>
                <Button Color="Color.Primary" Clicked="@CreateMatch" Loading="@(Match is null)"
                        Disabled="@(Match is null)">
                    @(Id is null ? "Create Match" : "Update Match")
                </Button>
            </Field>
        </Validations>
    </Div>
}

@code {
    Validations _fluentValidations = null!;
    private Models.Match? Match { get; set; }
    private List<ApplicationUser> Users { get; set; } = [];
    private string? _tzId;
    private TimeZoneInfo? _tz;

    [Parameter] public string? Id { get; set; }

    private DateTime LocalMatchDate
    {
        get
        {
            if (Match is null) return default;

            var utc = DateTime.SpecifyKind(Match.MatchDateTimeUtc, DateTimeKind.Utc);

            if (_tz is null) return utc;

            // UTC -> Local (cliente)
            var local = Tz.ToLocal(utc, _tz);

            // DatePicker trabalha melhor com Unspecified
            return DateTime.SpecifyKind(local, DateTimeKind.Unspecified);
        }
        set
        {
            if (Match is null) return;

            // valor vindo do DatePicker é hora LOCAL do cliente
            var local = DateTime.SpecifyKind(value, DateTimeKind.Unspecified);

            if (_tz is null)
            {
                return;
            }

            var utc = Tz.ToUtc(local, _tz);
            Match.MatchDateTimeUtc = DateTime.SpecifyKind(utc, DateTimeKind.Utc);
        }
    }

    private void ValidateDateTimePicker(ValidatorEventArgs args)
    {
        if (Match is null) return;
        args.Status = Match.MatchDateTimeUtc < DateTime.UtcNow ? ValidationStatus.Error : ValidationStatus.Success;
    }

    private async Task CreateMatch()
    {
        if (Match is not null && await _fluentValidations.ValidateAll() && _tz is not null)
        {
            if (Match.MatchDateTimeUtc < DateTime.UtcNow)
            {
                // Exibir erro de validação
                return;
            }

            if (Id is null)
            {
                await MatchesService.CreateMatch(Match);
            }
            else
            {
                await MatchesService.UpdateMatch(Match.Id, Match);
            }

            NavigationManager.NavigateTo("/Matches");
        }
    }

    protected override async Task OnInitializedAsync() => Users = await UsersService.GetUsers();

    protected override async Task OnParametersSetAsync()
    {
        if (Id is null)
        {
            Match = new Models.Match
            {
                MatchDateTimeUtc = DateTime.UtcNow,
                Location = new Location(0, 0, string.Empty, string.Empty),
                CreatorId = Users.FirstOrDefault()?.Id ?? string.Empty
            };
        }
        else
        {
            Match = await MatchesService.GetMatchById(Id);
            if (Match is null)
            {
                NavigationManager.NavigateTo("/404", forceLoad: true);
            }
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _tzId = await Js.InvokeAsync<string>("timeZone");
        _tz = Tz.FromId(_tzId);

        // Example conversions
        //utcNow = DateTime.UtcNow;                  // this is UTC
        //localNow = Tz.ToLocal(utcNow, tz);         // -> local in user's TZ

        StateHasChanged();
    }

}
