@page "/matches/{matchId}"
@inject IMatchesService MatchesService
@inject IJSRuntime Js
@using System.Security.Claims
@using MatchBy.DTOs.Match
@using MatchBy.Services.Matches
@rendermode InteractiveServer
@using Blazorise
@inject IToastService ToastService 
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

@if (_match == null)
{
    <p>
        <Loading></Loading>
    </p>
}
else
{
    <div class="max-w-screen-xl px-4 m-8 mx-auto">
        <h1 class="text-4xl font-bold text-[var(--main)]">
            @_match.Sport Match
            <span class="text-2xl font-semibold text-[var(--text)]">by:</span>
        </h1>

        <div class="inline-flex items-center gap-3 mt-2 group cursor-pointer">
            <div
                class="w-8 h-8 rounded-full overflow-hidden border-2 border-[var(--text)] group-hover:border-[var(--main)] bg-[var(--section-secondary)] flex items-center justify-center">
                @if (_match.Creator?.AvatarUrl != null)
                {
                    <img src="@_match.Creator.AvatarUrl"
                         alt="@($"{_match.Creator.DisplayName}'s profile picture")"
                         class="w-full h-full object-cover"/>
                }
                else
                {
                    <img src="images/user-avatar.png"
                         alt="@($"{_match.Creator?.DisplayName ?? "User"}'s profile picture")"
                         class="w-full h-full object-cover"/>
                }
            </div>
            <a class="font-semibold text-[var(--text)] group-hover:text-[var(--main)]">
                @(_match.Creator?.DisplayName ?? "Unknown")
            </a>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-[minmax(0,60%)_minmax(0,40%)] gap-8 items-start mt-2">
            <div class="flex flex-col gap-2">
                <div id="matchPageMap"
                     class="h-[180px] mt-2 sm:h-64 md:h-80 lg:h-[354px] rounded-lg border-3 border-[var(--main)] shadow-sm"></div>
            </div>

            <div class="flex flex-col gap-8">
                <div class="gap-2 mt-1">
                    <label for="address" class="block mb-2 text-m font-medium text-[var(--main)]">
                        Participants
                    </label>
                    <div
                        class="bg-[var(--section-secondary)] flex items-center gap-4 text-[var(--text)] p-2.5 rounded-lg border-2 border-[var(--main)] ">
                        <svg class="w-8 h-8 text-[var(--text)]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                  d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <span class="text-xl font-medium text-[var(--text)]">
                                    @($"{_match.Participants?.Count ?? 0} / {_match.MaxPlayers}")
                                </span>
                    </div>
                </div>

                <div class="gap-2 mt-1">
                    <label class="block mb-2 text-m font-medium text-[var(--main)]">
                        Description
                    </label>
                    <div
                        class="bg-[var(--section-secondary)] flex items-start gap-4 text-[var(--text)] p-2.5 rounded-lg border-2 border-[var(--main)]">
                        <svg class="w-8 h-8 text-[var(--text)]" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                             viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 6h8m-8 4h12M6 14h8m-8 4h12"/>
                        </svg>
                        <span class="text-sm font-medium text-[var(--text)] line-clamp-2 min-h-[3.5rem]">
                                @_match.Description
                            </span>
                    </div>
                </div>

                <div class="gap-2 mt-1">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label class="block mb-2 text-m font-medium text-[var(--main)]">
                                Date
                            </label>
                            <div
                                class="bg-[var(--section-secondary)] flex items-center gap-4 text-[var(--text)] p-2.5 rounded-lg border-2 border-[var(--main)]">
                                <svg class="w-8 h-8 text-[var(--text)]" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                          d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                                          clip-rule="evenodd"/>
                                </svg>

                                <span class="text-xl font-medium text-[var(--text)] line-clamp-1">
                                    @_match.MatchDateTimeUtc.ToLocalTime().ToString("dd / MM / yyyy")
                                </span>
                            </div>
                        </div>

                        <div>
                            <label class="block mb-2 text-m font-medium text-[var(--main)]">
                                Time
                            </label>
                            <div
                                class="bg-[var(--section-secondary)] flex items-center gap-4 text-[var(--text)] p-2.5 rounded-lg border-2 border-[var(--main)]">
                                <svg class="w-8 h-8 text-[var(--text)]" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                     viewBox="0 0 24 24">
                                    <path fill-rule="evenodd"
                                          d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                                          clip-rule="evenodd"/>
                                </svg>

                                <span class="text-xl font-medium text-[var(--text)]">
                                    @_match.MatchDateTimeUtc.ToLocalTime().ToString("HH:mm")
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-[minmax(0,60%)_minmax(0,40%)] gap-8 items-end mt-8 lg:mt-0">
            <div class="w-full">
                <label for="address" class="block mb-2 text-m font-medium text-[var(--main)] mt-2">
                    Address
                </label>
                <div id="address"
                     class="text-xl bg-[var(--section-secondary)] text-[var(--text)] rounded-lg w-full p-2.5 border-2 border-[var(--main)] flex items-center gap-3"
                     aria-readonly="true">
                    <span class="flex-1 line-clamp-2">
                        @_match.Address
                    </span>

                    <Button Type="ButtonType.Button" Clicked="@(() => CopyToClipboard(_match.Address))"
                            class="inline-flex items-center justify-center px-3 py-2 rounded-md border border-[var(--main)] text-sm font-medium hover:bg-[var(--main)] hover:text-[var(--text-contrast)] transition">
                        <svg class="w-5 h-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                  d="M9 9h9m-9 4h9m-9 4h9M5 5h9a2 2 0 0 1 2 2v0 12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2Z"/>
                        </svg>
                        Copy
                    </Button>
                </div>
            </div>
            
            <div class="w-full mt-0 lg-mt-10">
                @if (_userId != null && _match.Participants != null)
                {
                    if (_match.Participants.All(p => p.Id != _userId) && _match.Participants.Count < _match.MaxPlayers)
                    {
                        <Button Color="Color.Success" Class="!py-5 !w-full !justify-center" Clicked="@(() => JoinMatch(_match.Id))">
                            <span class="text-lg">Join</span>
                        </Button>
                    }
                    else if (_match.Participants.Any(p => p.Id == _userId))
                    {
                        <Button Color="Color.Danger" Class="!py-5 !w-full !justify-center" Clicked="@(() => LeaveMatch(_match.Id))">
                            <span class="text-lg">Leave</span>
                        </Button>
                    }
                    else
                    {
                        <Button Color="Color.Secondary" Class="!py-5 !w-full !justify-center" Disabled="@true">
                            <span class="text-lg">Full</span>
                        </Button>
                    }
                }
            </div>
        </div>
    </div>
}

<ToastProvider Placement="ToasterPlacement.TopEnd" Class="mt-12"/>

@code {
    [Parameter] public string MatchId { get; set; } = string.Empty;
    private MatchDto? _match;
    private bool _shouldInitMap;
    
    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;
    private string? _userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _userId = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        
        var result = await MatchesService.GetMatchById(MatchId, _userId, CancellationToken.None);
        if (!result.Success)
        {
            await ToastService.Error(result.ErrorMessages.Any() ? result.ErrorMessages[0] : "Error fetching match.");
            return;
        }
        _match = result.Data!;
        
        _shouldInitMap = true;
        StateHasChanged();
    }

    private async Task CopyToClipboard(string text)
    {
        await ToastService.Info("Address copied to clipboard!", "Copy Address");
        await Js.InvokeVoidAsync("copyToClipboard", text);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_shouldInitMap && _match?.Location != null)
        {
            _shouldInitMap = false;

            await Js.InvokeVoidAsync("initMatchPageMap",
                _match.Location.Latitude,
                _match.Location.Longitude
            );
        }
    }
    
    private async Task JoinMatch(string matchId)
    {
        if (_userId is not null)
        {
            var result = await MatchesService.JoinMatch(matchId, _userId, CancellationToken.None);
            if (!result.Success)
            {
                await ToastService.Error(result.ErrorMessages.Any() ? result.ErrorMessages[0] : "Error joining match.");
                return;
            }
            await ToastService.Success("Successfully joined the match!", "Join Match");
            _match = result.Data!;
        }
    }
    
    private async Task LeaveMatch(string matchId)
    {
        if (_userId is not null)
        {
            var result = await MatchesService.LeaveMatch(matchId, _userId, CancellationToken.None);
            if (!result.Success)
            {
                await ToastService.Error(result.ErrorMessages.Any() ? result.ErrorMessages[0] : "Error leaving match.");
                NavigationManager.NavigateTo("/matches");
                return;
            }
            await ToastService.Success("Successfully left the match!", "Leave Match");
            _match = result.Data!;
        }
    }

}
